annotated-types==0.7.0
anyio==4.12.0
blessed==1.25.0
cachetools==6.2.4
certifi==2025.11.12
charset-normalizer==3.4.4
click==7.1.2
colorama==0.4.6
defusedxml==0.7.1
distro==1.9.0
edlib==1.3.9.post1
findpapers==0.6.7
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.71.2
gspread==6.0.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.27.2
idna==3.11
inquirer==2.10.1
jiter==0.12.0
lxml==4.9.4
mattermostdriver==7.3.2
numpy==2.4.0
oauth2client==4.1.3
oauthlib==3.3.1
ollama==0.4.6
openai==1.50.2
pandas==2.2.3
-e git+https://github.com/TaichiHIBI/paperbee_ja.git@85b687643b36b276506b81adb3d7d5c5033a6c90#egg=PaperBee
proto-plus==1.27.0
protobuf==5.29.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-editor==1.0.4
python-telegram-bot==21.1.1
pytz==2025.2
PyYAML==6.0.2
readchar==4.2.1
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
slack-bolt==1.18.1
slack_sdk==3.27.1
sniffio==1.3.1
StrEnum==0.4.15
tqdm==4.67.1
typer==0.3.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.2
wcwidth==0.2.14
websockets==15.0.1
xmltodict==0.12.0
zulip==0.9.0
